body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #5f3232;
    padding: 20px;
  }
  
  .container {
    max-width: 700px;
    margin: auto;
    background: rgb(75, 30, 30);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  
  button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .image-container img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 8px;
  }
  